<h3 mat-dialog-title>Product Details</h3>
<mat-dialog-content>
  <div class="product-details">
    <p>
      <strong>Product Name: {{ product.name }}</strong>
    </p>
    <p><strong>Brand:</strong> {{ product.brand }}</p>
    <p><strong>Units:</strong> {{ product.unit }}</p>

    <div class="product-attributes">
      <strong>Available Colors:</strong>
      <ul>
        @for(color of product.attributes.color; track color){
        <li>{{ color }}</li>
        }
      </ul>

      <strong>Available Sizes:</strong>
      <ul>
        @for(size of product.attributes.size; track size){
        <li>{{ size }}</li>
        }
      </ul>
    </div>
  </div>
</mat-dialog-content>
<div mat-dialog-actions>
  <button mat-button type="button" (click)="dialogRef.close()">Close</button>
</div>
