  ul {
    list-style-type: none;
    padding-left: 0;

    li {
      background: #f9f9f9;
      margin: 5px 0;
      padding: 8px;
      border: 1px solid #ddd;
      border-radius: 4px;

      &:hover {
        background: #b3b3b3;
      }
    }
  }