<div
  class="welcome-container d-flex align-items-center justify-content-center flex-column"
>
  <h1>Welcome to Ecommerce</h1>
  <h4>Select Your Role</h4>
  <div class="card-container">
    <mat-card
      class="card primary-card align-items-center justify-content-center"
      routerLink="/customer"
    >
      <mat-card-title>Customer</mat-card-title>
    </mat-card>

    <mat-card
      class="card secondary-card align-items-center justify-content-center"
      routerLink="/admin"
    >
      <mat-card-title>Admin</mat-card-title>
    </mat-card>
  </div>
</div>
